<%- model_class = Website -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @website.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:subdomain) %>:</strong></dt>
  <dd><%= @website.subdomain %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              websites_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_website_path(@website), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              website_path(@website),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
