/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
footer {
padding: 40px 0;
text-align: center;
margin-top: 40px;
color: #777;
}

footer a {
    margin: 0 2em;
    color: #777;
}

footer p {
    font-size: 14px;
    color: #777;
}
